#hero{
    background: #5370b7;
}

.hero{
    position: relative;
    padding: 30px 0;
}


.hero img{
    max-width: 90%;
    min-width: 100vh;
    max-height: 80vh;

}
.hero h2{
    position: absolute;
    backdrop-filter: blur(4px);
    top: 280px;
    left: 35%;
    color: #5360b7;
    font-size: 50px;
}
