# Default ignored files
/../../../../../../../../../:fr/movies/.idea/shelf/
/../../../../../../../../../:fr/movies/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../../:fr/movies/.idea/httpRequests/
